<section><div class="container-fluid mt-5 about-us " >
    <div class="row">
      <div class="col-md-10 col-12 mx-auto"  id="contactid">
        <h1 class="text-sm-center">Our services</h1>
        <p class="text-sm-center">Grow your business with us</p>      
                <div class="row">
                    <form action="/contact" method="post">
                        <div class="mb-3 " >
                            <label class="display-6 " for="exampleFormControlInput1" class="form-label">Name</label>
                            <input type="text" name="name" class="form-control fs-3" id="exampleFormControlInput1" >
                          </div>
                        <div class="mb-3 " >
                            <label class="display-6" for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control fs-3" id="exampleFormControlInput1" placeholder="name@example.com"><br><p style="font-size: 1rem;">We naver share your emai anyone else</p>
                          </div>
                    
                          <div class="mb-3 " >
                            <label class="display-6" for="exampleFormControlInput1" class="form-label">Phone number</label>
                            <input type="tel" class="form-control fs-3" name="phoneNo" id="exampleFormControlInput1" placeholder="+91">
                          </div>
                          <div class="mb-3">
                            <label class="display-6" for="exampleFormControlTextarea1" class="form-label">Message</label>
                            <input type="text" name="message" class="form-control fs-3" id="exampleFormControlInput1" placeholder="Message"  rows="3" cols="10">
                           
                          </div>
                         <!-- Button trigger modal -->
<button type="submit" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
 Submit
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel fs-2">Thanks for Conecting With US</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fs-3">
       Our team are cotact with you soon as possobile
      </div>
      <div class="modal-footer">
        
       
      </div>
    </div>
  </div>
</div>
                    </form>
                    
                </div>
      </div>
    </div>
  </div></section>
