
<%- include('../partials/headerfile.ejs')%>
<div class="container-fluid ">
    <div class="row error-area ">
        <div class="error-area" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <img  src="images/404.png" alt="" style="width: 300px;">
            <h2 class="fs-2">Something went wrong please go back and try again</h2>
           <a href=""> <button type="button" class="btn btn-lg btn-primary">Go back</button></a>
            
        </div>
    </div>
</div>