<section>
  <div class="container-fluid mt-5 about-us " >
    <div class="row align-items-center justify-content-center ">
      <div class="col-md-10 col-12 g-col-6"  id="aboutus">
        <h1 class="text-sm-center">About us</h1>
        <p class="text-sm-center">Grow your business with us</p>
        <div class="row hero-section  ">
         <!-- image Area -->
          <div class="hero-section-img col-md-6 col-12 hero-text   ">
            <figure class="mt-5 mx-auto">
              <img class="img-fluid" src="images/about.svg" style="width: 500px;"alt="coding logo">
            </figure>
         
          </div>



          <!-- Text Area -->
          <div class="col-md-6 col-12 hero-text hero-section-txt  text-sm-center  text-lg-start" >
            <h1>Who We Are</h1>
          
        <p>We are a <strong>dedicated team of </strong>,tech enthusiasts  problem solvers, and creative thinkers with a passion for harnessing the potential of cutting-edge technology.&emsp14;<i class="fa-solid fa-terminal"></i></p> 
            <button type="button" class="btn btn-outline-danger mx-sm-auto mx-lg-0 mx-md-auto justify ">Learn more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>