<footer>
    <div class="container-fluid" >
        <div class="row">
          <footer class="mt-5 col-sm-12  bg-body-tertiary " style="height: 30px;">
            <p class="fs-5 text-center">
               <strong> Creater by @Copywrite Akash Maurya</strong>
            </p>
          </footer>
        </div>
    </div>
</footer>