
  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid  mx-4">
      <a class="navbar-brand" href="#">AkashDevSolution</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutus"> About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gallery</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Web devlopment</a></li>
              <li><a class="dropdown-item" href="#">App devlopment</a></li>
              <li><a class="dropdown-item" href="#">Machine Learing</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactid">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

     
  