<section>
    <div class="container-fluid mt-5 about-us " >
        <div class="row">
          <div class="col-md-10 col-12 mx-auto"  id="serviceid">
            <h1 class="text-sm-center">Our services</h1>
            <p class="text-sm-center">Grow your business with us</p>
           
    
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <img src="images/setting (1).png" style="width: 80px; z-index: 1;" alt="Seting service">
                                    <h1>Setting</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam harum, m soluta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <img src="images/speedometer.png"  style="width: 80px; z-index: 1;" alt="speedometer image">
                                    <h1>Speedup</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam harum, m soluta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <img src="images\verified.png" style="width: 80px; z-index: 1;" alt="privacy image">
                                    <h1>privacy</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam harum, m soluta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <img src="images\data-recovery.png" style="width: 80px; z-index: 1;" alt="Data recovery image">
                                    <h1>Backup</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam harum, m soluta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <img src="images\verified.png" style="width: 80px; z-index: 1;" alt="SSL Security image">
                                    <h1>SSL Security</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam harum, m soluta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box">
                                <div class="our-services settings">
                                    <img src="images\database.png" style="width: 80px; z-index: 1;" alt="Database png">
                                    <h1>Database</h1>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam harum, m soluta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
          
          
          </div>
        </div>
      </div>
</section>